.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.delete-button-spacing {
  margin-left:1em;
}

.text-box{
  width: 24em;
  border: 0;
  border-bottom: 1px solid gray;
  margin-right: 1em;
  margin-top: 2em;
}

.list-item-width{
  width:28em;
}

.list-area{
  border: 5px solid lightsteelblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
